.full-blog-list-container{
    width: 1256px;
}

.blog-list__cards__hero{
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 0 1rem;
    margin-bottom: 1rem;
}

#full-blog-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    padding-top: 1rem;
}

.full-blogCards{
    width: 100%;
    height: 365px;
}

.full-blogHero{
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 0 1rem;
    margin-bottom: 1rem;
    width: 100%;
    height: 365px;
}