h2{
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 36px;
}

h3{
    color: grey;
    
}

.blog-view-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh; /* Ensure it takes the full viewport height */
    padding: 20px;
    box-sizing: border-box;
}

.blog-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1262px;
    height: 825px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.blog-view-desc {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.blog-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1px;
    width: 101%;
    
    margin-top: 20px;
}

.grid-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.blog-view-footer{
    display: flex;
    justify-content: flex-start;
    text-align: left;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 110px;
}

.blog-view-footer-link{
    font-family: Raleway;
    color: #BCA9E9;
}

.blog-view-footer-link:hover{
    text-decoration: underline;
    color: grey;
    transition: 0.3s;
}