/* Ensure the footer is at the bottom without overlapping content */


<<<<<<< HEAD




=======
>>>>>>> d5f5ee31ff4f9307cf396ec93e74f3ea1721b9e8
footer{
  position: relative;
  bottom: 0;
  width: 100%;
<<<<<<< HEAD
  background-color: #30123B;
  margin-top: 50px;
  z-index: 1000;
=======
  background-color: #200735; 
  margin-top: 50px;
  z-index: 1000;

  
>>>>>>> d5f5ee31ff4f9307cf396ec93e74f3ea1721b9e8
}

.top-half {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
<<<<<<< HEAD
  margin-top: 15px;
=======
>>>>>>> d5f5ee31ff4f9307cf396ec93e74f3ea1721b9e8
  height: 170px;
  padding-left: 155px;
  padding-right: 150px;
  margin-bottom: 50px
} 

.bottom-half {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
<<<<<<< HEAD
  border-top:  1px inset #e9ecef;
  height: 50px;
=======
  border-top:  1px inset rgba(233, 236, 239, 0.5) ;

  height: 70px;
>>>>>>> d5f5ee31ff4f9307cf396ec93e74f3ea1721b9e8
  padding-left: 155px;
  padding-right: 150px;
}


#footer-logo {
  display: flex;
  align-items: center;
  height: 100px;
  width: 200px;
  margin-top: 50px;
  margin-bottom: 25px;
} 

#envelope {
<<<<<<< HEAD
color: purple
=======
color:  rgb(188, 188, 188);
>>>>>>> d5f5ee31ff4f9307cf396ec93e74f3ea1721b9e8
}



.email a{
<<<<<<< HEAD
    color: white;
=======
    color:    rgb(188, 188, 188);;
>>>>>>> d5f5ee31ff4f9307cf396ec93e74f3ea1721b9e8
    font-size: 20px;
    margin-top: 25px;
}

.email a:hover{
    color: purple;
    transition: 0.3s;
}

.social-list {
  display: flex;
  justify-content: center; /* Center the items horizontally */
  list-style: none; /* Remove default list styling */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

.social-list li {
  margin: 0 10px; /* Add some space between the items */
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px; /* Set the width of the button */
  height: 30px; /* Set the height of the button */
  border-radius: 50%; /* Make the button rounded */
<<<<<<< HEAD
  background-color: #6922ac; /* Set the background color */
  color: gray; /* Set the icon color */
=======
  background-color: white; /* Set the background color */
  color: white; /* Set the icon color */
>>>>>>> d5f5ee31ff4f9307cf396ec93e74f3ea1721b9e8
  text-decoration: none; /* Remove underline from links */
  transition: background-color 0.3s; /* Add transition for hover effect */
}

.social-button:hover {
  background-color: grey; /* Change background color on hover */
  color: #6922ac
}

.social-icon {
<<<<<<< HEAD
  font-size: 17px; /* Set the icon size */
=======
  font-size: 24px; /* Set the icon size */
>>>>>>> d5f5ee31ff4f9307cf396ec93e74f3ea1721b9e8
}

.footer-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding-bottom: 85px; 
}

/* Target the button id of events and all othe nav links */
.footer-links li, .footer-events, #footerEventsButton {
<<<<<<< HEAD
  color: gray;
=======
  color: rgb(188, 188, 188);
>>>>>>> d5f5ee31ff4f9307cf396ec93e74f3ea1721b9e8
  outline: none;
  margin: 0 30px;
  font-family: "DM Sans", Helvetica, sans-serif;
  text-transform: none;
  font-weight: 400;
  line-height: 1;
  font-size: 20px;

 
}

.footer-links ul, .footer-events, #footerEventsButton {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-bottom: 5px;
<<<<<<< HEAD
=======

>>>>>>> d5f5ee31ff4f9307cf396ec93e74f3ea1721b9e8
}


.footer-links a {
<<<<<<< HEAD
  color: grey;
=======
  color: rgb(188, 188, 188);
>>>>>>> d5f5ee31ff4f9307cf396ec93e74f3ea1721b9e8
  text-decoration: none;
  outline: none;
 
}

.footer-links a:hover {
  color: purple;
  transition: 0.3s;
}

.copyright {
  color: grey;
  font-size: 15px;
}

.menus {
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}

.mini-footer {
  display: none;
}

<<<<<<< HEAD

@media (max-width: 480px) {
=======
/*Mobile styling */
@media  (max-width: 955px) {
>>>>>>> d5f5ee31ff4f9307cf396ec93e74f3ea1721b9e8
  .mini-footer {
    display: block;
  }

  .full-footer {
    display: none;
  } 

  .mini-footer-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .mini-footer-menu {
    display: flex;
    justify-content: center;
    align-items: center;

  } 

  .mini-footer-menu li {
    margin: 10px 10px;
  }

  .mini-footer-menu a {
    color: white;
    text-decoration: none;
    outline: none;
    font-size: 30px;
  
  }

  .social-list {
    display: flex;
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Center the items vertically */
    list-style: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
  }

  .social-list ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
<<<<<<< HEAD
    padding: 0;
    margin: 0;
  }
  
  .social-list li {
    margin: 0 10px; /* Add horizontal spacing between items */
  }
  
  .social-icon {
    font-size: 17px; /* Set the icon size */
  }

=======
 
   padding-right: 50px;
  }
  
  .social-list li {
    margin: 0 20px; /* Add horizontal spacing between items */
  }
  .social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px; /* Set the width of the button */
    height: 50px; /* Set the height of the button */
    border-radius: 50%; /* Make the button rounded */
    background-color: white; /* Set the background color */
    color: white; /* Set the icon color */
    text-decoration: none; /* Remove underline from links */
    transition: background-color 0.3s; /* Add transition for hover effect */
  }
  
  .social-icon {
    font-size: 30px; /* Set the icon size */
  }
 
>>>>>>> d5f5ee31ff4f9307cf396ec93e74f3ea1721b9e8
  .copyright {
   
    color: grey;
    font-size: 15px;
    text-align: center;
<<<<<<< HEAD
=======
    margin-left: 20px;
    margin-bottom: 10px;
   
>>>>>>> d5f5ee31ff4f9307cf396ec93e74f3ea1721b9e8
  }
}