.full-blog-hero {
  background-color: #f5f5f5;
 width: 1256px
  
}

.full-blog-hero-tags{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    margin-bottom: 12px;
}

.full-blog-hero-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 20px 40px 20px;
}

.full-blog-hero-tag {
    font-size: 12px;
    color: white;
    margin-bottom: 10px;
    background-color: purple;
    padding: 7px;
    border-radius: 7px;
    margin-right: 5px;
}

.full-blog-hero-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.full-blog-hero-desc {
    flex-direction: column;
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}