.card {
    width: 256px;
    height: 291px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the image horizontally */
    padding: 0 20px 40px 20px;
    margin: 10px;
}

.card-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align card info to the left */
    justify-content: center;
    width: 100%; /* Ensure card info takes full width */
    padding: 0 20px; /* Adjust padding if needed */
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.card-tag {
    font-size: 10px;
    color: white;
    margin-bottom: 10px;
    background-color: purple;
    padding: 7px;
    border-radius: 7px;
}

.card-desc {
    font-size: 16px;
    color: #333;
}